extends layout

include mixins/_accountSidebar
include mixins/_totalUserPosts
include mixins/_totalUserViews

block content
  +accountSidebar()
  .col-md-8
    .card.my-4
      h5.card-header My Account - #{user.email}
      .card-body
        .row
          +totalUserPosts(count)
          +totalUserViews(count)


block sidebar

block footer




