extends layout

include mixins/_accountSidebar
include mixins/_postForm

block content
  +accountSidebar()
  .col-md-8
    .card.my-4
      h5.card-header= title
      .card-body
        +postForm()
block sidebar

block footer


