extends layout

include mixins/_blogCard
include mixins/_pagination

block content
  .col-md-8
    h1.my-4
    if posts.length >= 1
      each post in posts
        +blogCard(post)
      +pagination(page, pages, count)
    else
      .alert.alert-danger No articles currently!



