extends layout

include mixins/_accountSidebar
include mixins/_userPostsCard

block content
  +accountSidebar()
  .col-md-8
    .card.my-4
      h5.card-header My Posts - #{user.email}
      .card-body
        table.table.table-stiped
          thead
            tr
              th Article Title
              th.text-center(colspan=2)
          tbody
            each post in posts
             +userPostsCard(post)

block sidebar

block footer



