extends layout

include mixins/_accountSidebar

block content
  +accountSidebar()
  .col-md-8
    .card.my-4
      h5.card-header My Posts - #{user.email}
      .card-body

block sidebar

block footer




