mixin accountSidebar()
  .col-md-4
    .card.my-4
      h5.card-header Actions
      .card-body
        .list-group
          a(href='/account').list-group-item.list-group-item-action My Profile
          a(href='/add').list-group-item.list-group-item-action New Post
          a(href='/account/posts').list-group-item.list-group-item-action My Posts