mixin blogCard(blog = {})
  .card.mb-4
    .thumbnail
      img(src="/images/blog.jpg", alt="Blog Post Image").blog-card-image
      .card-body
        h2.card-title Post Title
        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
        a(href="#").btn.btn-primary Read More &rarr;
      .card-footer.text-muted
        p Posted on Januery 1, 2017 by
        a(href="#") Start Bootstrap
