mixin commentCard(comment)
  .media.mb-4
    img(src="/images/avatar.jpg" alt="tar").d-flex.mr-3.rounded-circle.commentavatar
    .media-body
      h6.mt-0 #{comment.name} - #{h.moment(comment.created).fromNow()}
      p= comment.comment