mixin editUserForm()
  form.form-signin(action="/register" method="POST")
    .form-group
      input(type="text" name="name" placeholder="Name").form-control
    .form-group
      input(type="email" name="email" placeholder="Email Address").form-control
    .form-group
      input(type="password" name="password" placeholder="Password").form-control
    .form-group
      input(type="password" name="password-confirm" placeholder="Confirm Password").form-control
    .formgroup
      button.btn.btn-primary.btn-lg.btn-block(type="submit" name="Login") Submit