mixin paginationTags(tag,page, pages, count)
  nav(aria-label="page navigation example")
    ul.pagination
      if page > 1
        li.page-item
          a(href=`/tags/${tag}/posts/page/${page - 1}`).btn.btn-primary Prev
      if page < pages
        a(href=`/tags/${tag}/posts/page/${parseFloat(page) + 1}`).btn.btn-primary Next