mixin postForm()
  form.form-signin(action="/add" method="POST")
    .form-group
      input(type="hidden" name="photo" value="blog")
      input(type="text" name="title" placeholder="Post Title").form-control
    .form-group
      textarea(name="description", cols="30", rows="10").form-control
    .form-group
      - const choices = ['Football', 'Basketball', 'Tennis', 'Golf']
      each choice in choices
        input(type="checkbox" id=choice value=choice name="tags").form-control
        label(for=choice).custom-control-descriptionx= choice
    .formgroup
      button.btn.btn-primary.btn-lg.btn-block(type="submit" name="Login") Submit