mixin socialShare()
  a(href="#").btn.btn-social-icon.btn-twitter
    span.fa.fa-twitter
  a(href="#").btn.btn-social-icon.btn-facebook
    span.fa.fa-facebook
  a(href="#").btn.btn-social-icon.btn-pinterest
    span.fa.fa-pinterest
  a(href="#").btn.btn-social-icon.btn-github
    span.fa.fa-envelope